.display, .feedback {
  display: flex;
  flex-flow: column;
  align-self: center;
  text-align: center;
}

.display-word {
  text-align: center;
  font-size: 60px;
  margin: 0;
  padding: 20px;
}

.display {
  width: 75vw;
}

.display-box-label {
  margin-right: 5px;
  font-size: 28px;
}

.display-text-box {
  padding-left: 10px;
  border-radius: 290486px;
  height: 32.4px;
  width: 200px;
  margin: 0 auto 15px auto;
}

button {
  align-self: center;
  border: 1px solid rgb(68, 19, 68);
  border-radius: 290486px;
  color: rgb(45, 202, 163);
  font-size: 0.5em;
  font-weight: bold;
  letter-spacing: 0.2em;
  padding: 0.7em 1.7em;
  text-transform: uppercase;
  text-decoration: none;
  background-color: rgb(30, 112, 30);
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 5px 0 15px 0;
}

button:focus, input:focus{
  outline: none;
}

button:hover{
  background:  rgb(238, 108, 21);
  color: rgb(12, 46, 37);
}

.right-answer, .feedback-right {
  color: Green;
}

.feedback-wrong {
  color: red
}

.streak-section {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  color: rgb(45, 202, 163);
  font-size: 20px;
  margin: 0 25px;
  }

.streak-count {
font-size: 25px;
}

.streak-num {
  color: rgb(238, 108, 21);
}

@media only screen and (min-width: 770px) {
  .streak-section {
    font-size: 30px;
    }
    
  .streak-count {
    font-size: 60px;
  }

   form .display-word {
     margin: 15px; 
  } 

  .display-word{
    font-size: 96px;
  }

  button {
    font-size: 0.8em;
    padding: 1em 2em;
  }

  .display button {
    padding: 0.8em 1.8em;
  }

  .display {
    height: 350px;
    width: 400px;
  }

  .display-text-box {
    width: 300px;
    margin-bottom: 50px;
    font-size: 0.8em;
  }

  .dashbaord {
   height: 100vw;
  }
}