.user-data {
  display: flex;
  /* flex-flow: row wrap; */
  padding: 5px;
  margin: 0;
  justify-content: center;
  text-align: center;
  /* align-self: center; */
  flex-flow: column;
  color: rgb(45, 202, 163);
  font-size: 15px;
}

.user-data h3 {
  margin: 0 auto 5px auto;
  padding: 5px;
} 

.user-stats {
  margin-bottom: 10px;
}

.user-data span {
  margin-right: 10px;
  font-size: 15px;
 
}

span.num-correct {
  margin-left: 5px;
  font-size: 25px;
  color: rgb(238, 108, 21);
}

span.num-attempts {
  margin-right: 0px;
  font-size: 25px;
  color: rgb(238, 108, 21);
}

@media only screen and (min-width: 770px) {
  .user-data {
    font-size: 25px;
    justify-content: space-around;
  }

  .user-data .numCorrect {
    font-size: 30px;
  }

  .user-data .numAttempts {
    font-size: 30px;
  }

  span.num-attempts, span.num-correct {
    font-size: 35px;
  }
}