body {
  margin: 0;
  padding: 0;
  background-color: rgb(68, 19, 68);
  color: white;
  font-family: 'Signika', sans-serif;
}

@media only screen and (max-width:770px){
  .header-bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center
  }
}

.header-bar, .home {
  text-align: center;
}

.header-bar {
  background-color: rgb(238, 108, 21);
}

.header-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

h1 {
  color:  rgb(45, 202, 163);
  text-shadow: rgb(12, 46, 37) 0 0 5px;
  font-size: 30px;
  border: 10px solid rgb(238, 108, 21);
  border-radius: 25px;
  background-color: rgb(30, 112, 30);
  margin: 0;
  padding: 6px;
}

h3 {
  font-size: 25px;
  color: rgb(45, 202, 163);
}

h5 {
  margin: 0 auto 30px auto;
  padding: 10px;
  font-size: 28px;
  color: rgb(45, 202, 163);
}

.dashboard {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

li {
  padding: 5px;
  display:flex;
  flex-flow: row wrap;
}

span {
  justify-content: flex-end;
}

.submit-section,  {
  display: flex;
  flex-flow: column;
}


.home p, form {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(45, 202, 163);
  border-radius: 15px;
  color: rgb(73, 6, 73);
  width: 300px;
  margin: 0px auto 30px;
}

/*  styles for large screens */
@media only screen and (min-width: 770px) {
  .header-button {
    position: absolute;
    top: 15px;
    right: 25px;
  }

  .header-title {
    text-align: center;
  }
  
  h1 {
    padding: 15px;
    font-size: 40px;
  }

  h3 {
    font-size: 36px;
  }

  .register-link {
    color: rgb(238, 108, 21);
  }

}