body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}



@media only screen and (min-width: 770px) {
  .header-button {
    
    position: absolute;
  top: 50px;
  right: 25px;
  }
  .header-title {
    text-align: center;
  }

}

@media only screen and (max-width:770px){
  .header-bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center
  }
}

.header-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
}

.dashboard {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

.user-data {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  margin: 0;
  justify-content: space-around;
}

li {
  padding: 5px;
  display:flex;
  flex-flow: row wrap;
}

span {
  justify-content: flex-end;
}

.header-bar, .home {
  text-align: center;
}

.display, .feedback {
  display: flex;
  flex-flow: column;
  align-self: center;
  text-align: center;
}

.display-word{
  text-align: center;
  font-size: 72px;
}

.submit-section,  {
  display: flex;
  flex-flow: row;
  align-items: center;
}

.display-box-label {
  margin-right: 5px;
  font-size: 28px;
}

.display-text-box {
  padding-left: 10px;
  border-radius: 290486px;
  height: 32.4px;
}

button {
  align-self: center;
  border: 1px solid darkblue;
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
}

button:hover{
  background:  darkblue;
  color: white;
}

h1 {
  font-size: 48px;
}

h3 {
  font-size: 36px;
}
h5 {
  font-size: 28px;
}

.right-answer, .feedback-right {
  color: Green;
}

.feedback-wrong {
  color: red
}