/* font-family: 'Exo 2', sans-serif;
font-family: 'Varela Round', sans-serif;
font-family: 'Signika', sans-serif; */

body {
  margin: 0;
  padding: 0;
  background-color: rgb(68, 19, 68);
  color: white;
  font-family: 'Signika', sans-serif;
}



@media only screen and (min-width: 770px) {
  .header-button {
    
    position: absolute;
  top: 50px;
  right: 25px;
  }
  .header-title {
    text-align: center;
  }

}

@media only screen and (max-width:770px){
  .header-bar {
    display: flex;
    flex-flow: column wrap;
    justify-content: center
  }
}

.header-bar {
  background-color: rgb(238, 108, 21);
}

/* rgb(235, 183, 14); */

.header-title {
  display: flex;
  flex-flow: column;
  align-items: center;
  margin: auto;
  /* background-color: rgb(10, 95, 10); */
  /* color:  rgb(45, 202, 163);
  text-shadow: black 2px 3px 0px; */
}

.dashboard {
  display: flex;
  flex-flow: column;
  margin-top: 25px;
}

.user-data {
  display: flex;
  flex-flow: row wrap;
  padding: 5px;
  margin: 0;
  justify-content: space-around;
}

li {
  padding: 5px;
  display:flex;
  flex-flow: row wrap;
}

span {
  justify-content: flex-end;
}

.header-bar, .home {
  text-align: center;
}

.display, .feedback {
  display: flex;
  flex-flow: column;
  align-self: center;
  text-align: center;
}

.display-word{
  text-align: center;
  font-size: 72px;
}

.submit-section,  {
  display: flex;
  flex-flow: column;
}

.display-box-label {
  margin-right: 5px;
  font-size: 28px;
}

.display-text-box {
  padding-left: 10px;
  border-radius: 290486px;
  height: 32.4px;
}

button {
  align-self: center;
  border: 1px solid rgb(238, 108, 21);
  border-radius: 290486px;
  color: black;
  font-size: 0.6em;
  letter-spacing: 0.2em;
  padding: 1em 2em;
  text-transform: uppercase;
  text-decoration: none;
  transition: none 200ms ease-out;
  transition-property: color, background;
  margin: 10px 0 10px 0;
}

button:focus, input:focus{
  outline: none;
}

button:hover{
  background:  rgb(238, 108, 21);
  color: rgb(12, 46, 37);
}

h1 {
  color:  rgb(45, 202, 163);
  text-shadow: rgb(12, 46, 37) 0 0 5px;
  font-size: 40px;
  border: 10px solid rgb(238, 108, 21);
  background-color: rgb(30, 112, 30);
  margin: 0;
  padding: 5px;
}

h3 {
  font-size: 36px;
  color: rgb(45, 202, 163);
  padding: 10px 10px 0 10px;
  margin: 10px auto 0 auto;
  
}
h5 {
  /* margin: 10px auto 10px auto; */
  margin: 0 auto 30px auto;
  padding: 10px;
  font-size: 28px;
  color: rgb(45, 202, 163);
}

.home p, form {
  font-size: 20px;
  padding: 10px;
  background-color: rgb(45, 202, 163);
  border-radius: 15px;
  color: rgb(73, 6, 73);
  width: 300px;
  margin: 0px auto 30px;
}


.right-answer, .feedback-right {
  color: Green;
}

.feedback-wrong {
  color: red
}